<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1> Заголовок </h1>
<h2> Заголовок </h2>
<h3> Заголовок </h3>
<h4> Заголовок </h4>
<h5> Заголовок </h5>

<p>ASD <i>asd</i> as <b>d  sa</b> d as d
</p>

<hr>

<h2> Робота з таблицями </h2>

<table>
    <thead>
    <tr>
        <th>№</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tr>
        <td>1</td>
        <td>C#</td>
        <td>ASD  sad  sad </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Java</td>
        <td>ASD  asdd  sad </td>
    </tr>
    <tbody>

    </tbody>
</table>

<hr>
<h2> Робота зі списками </h2>
<ul>
    <li>С#</li>
    <li>Java</li>
    <li>JavaScript</li>
</ul>

<ol>
    <li>С#</li>
    <li>Java</li>
    <li>JavaScript</li>
</ol>

<img src="1234.jpg" alt="user">


<form>
    <label for="name">Введіть назву продукції</label><br>
    <input type="text" name="name" id="name" placeholder="Введіть, будь ласка, назву продукції">

    <hr>
    <label for="username">Username</label><br>
    <input type="text" name="username" id="username" placeholder="Введіть логін"><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" id="password" placeholder="Введіть пароль"><br>
    <label for="quantity">Кількість продукції</label><br>
    <input type="number" min="1" max="100" step="1" value="0">

    <h2> asd</h2>
    <input type="radio" value="f" name="gander"> Жінка <br>
    <input type="radio" value="m" name="gander"> Чоловік <br>

    <h2>Випадаюдчий список</h2>

    <select name="job">
        <option value="student">Студент</option>
        <option value="teacher">Викладач</option>
        <option value="developer">Програміст</option>
    </select>

    <hr>

    <select name="job" multiple>
        <option value="student">Студент</option>
        <option value="teacher">Викладач</option>
        <option value="developer">Розробник</option>
    </select>

    <input type="submit" value="add">
    <button type="submit">add</button>
</form>

<div>
    Leftmenu
</div>

<div>
    Navbar
</div>



</body>
</html>